* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url('img/bg.jpg') center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
nav{
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-evenly;
  
}
.btn {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  margin: 10px 0;
}
.nav-btn{
  position: absolute;
  top: 10%;
  right: 30%;
  font-size: large;
  font-weight: bold;
  border-radius: 10%;
  background-color: rgba(177, 16, 16, 0.801);
  color: white;
}
.btn-text{
  color:white;
}
.nav-btn:hover{
  background-color: white;
}

header {
  height: 200px;
}

header img {
  width: 30%;
  margin-top: -40px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  border-radius: 10%;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: yellow;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-image: url(./img/textura.jpg);
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  border-radius: 10%;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.add-btn{
  z-index: 100;
  width: 30px;
  height: 30px;
  color: white;
  font-size: large;
  font-weight: bold;
  position: absolute;
  border-radius: 25%;
  background-color: rgba(177, 16, 16, 0.973);
  margin: 5px;
  right: 0;
}
.add-btn:hover{
  width: 35px;
  margin: 7px;
  height: 35px;
  transition: ease-in-out;
  font-weight: bold;
  color: rgba(177, 16, 16, 0.973);
  background-color: rgb(224, 202, 0);
}
@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  header img{
    width: 50%;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}
